README_GIT.md
predictions/.env
predictions/weather.py
predictions/radar_png/
predictions/Meteostat_and_openweathermap_plots_only.html
predictions/.cache.sqlite

venv/
__pycache__/
*.log
=*
events_table.html
predictions/get_radar_RY_err.py
predictions/requirements.txt
**/*.png

# runtime / cache files
predictions/.cache.sqlite
predictions/__pycache__/
*.pyc
predictions/get_radar_forecast.py
kyosky/radar_png/radar_forecast.mp4
kyosky/energy_weather_node_past_future_mstat.py
.gitignore
Meteostat_and_openweathermap_plots_only.html
kyosky/Meteostat_and_openweathermap_plots_only.html
kyosky/radar_png/radar_forecast.mp4
kyosky/radar_png/radar_forecast.mp4
