README_GIT.md
predictions/.env
predictions/weather.py
predictions/radar_png/
predictions/Meteostat_and_openweathermap_plots_only.html
predictions/.cache.sqlite

venv/
__pycache__/
*.log
=*
events_table.html
predictions/get_radar_RY_err.py
predictions/requirements.txt
**/*.png