README_GIT.md

venv/
__pycache__/
*.log
=*
events_table.html
**/*.png

# runtime / cache files
*.pyc
kyosky/radar_png/radar_forecast.mp4
kyosky/energy_weather_node_past_future_mstat.py
.gitignore
Meteostat_and_openweathermap_plots_only.html
kyosky/Meteostat_and_openweathermap_plots_only.html
kyosky/radar_png/radar_forecast.mp4

kyosky/temp1
kyosky/tempnew
